{:paths ["src"]
 :deps {org.clojure/tools.logging {:mvn/version "0.4.1"}
        cheshire {:mvn/version "5.9.0"}
        criterium {:mvn/version "0.4.5"}
        ;; com.github.emilianobonassi/jpbc {:mvn/version "v2.0.0"}
        }
 :mvn/repos {"jitpack.io" {:url "https://jitpack.io"}}
 :test
 {:extra-paths ["test"]
  :extra-deps
  {lambdaisland/kaocha {:mvn/version "0.0-413"}}}}
